__pycache__
VOCdevkit
checkpoints/*/*.pth
.vscode
*.pyc
.idea/
__pycache__
results
checkpoints_bak
cityscapes
test_results
datasets/data
samples/
*.zip
iccv09-celoss.csv
iccv09-sam.csv
iccv09.csv
wandb/